/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 25vw;
  gap: 16px; 
  padding: 16px;
}

/* Grid Item */
.grid-item {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 20px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  /* aspect-ratio: 1 / 1; Maintain square shape */
  /* box-sizing: border-box; */
}
